
@{
    ViewBag.Title = "Carta";
}

<h2>Carta</h2>


<div class="alert alert-success" role="alert">
    Carnes Blancas
</div>
<div class="alert alert-danger" role="alert">
    Carnes Rojas
</div>
<div class="alert alert-warning" role="alert">
    Pastas
</div>
<div class="alert alert-info" role="alert">
    Pescado y Mariscos
</div>
<div class="alert alert-dark" role="alert">
    Tragos y Bebidas
</div>