@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AJIDREZ </h1>
    <h1>Restaurant Bar and Games </h1>
    <p class="lead">Mza F Lte 02 Urb. Las Hortencias de California Centro Comercial Fargos </p>
    <p><a href="/ListaMenu/Menu" class="btn btn-warning col-md-4 ">Menu del Dia &raquo;</a></p>
    <p><a href="/PlatosCarta/Carta" class="btn btn-danger col-md-4 ">Platos a la Carta &raquo;</a></p>
    <p><a href="/MesaReservaciones/Reservaciones" class="btn btn-primary col-md-4">Reservaciones &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Trabaja con Nosotros</h2>
        <p>
            Ajidrez Restaurante te invita a formar parte de nuestra familia, Postula y forma parte de nuestra 
            Exclusiva lista de colaboradores. 
            
        </p>
        <p><a class="btn btn-warning" href="/MiExperiencia/Experiencia">Mi Experiencia &raquo;</a></p>


    </div>
    <div class="col-md-4">
        <h2>Comunicate con el Cheff</h2>
        <p>Porque todo lo preparamos pensando en ti, tus preferencias son nuestros mejores ingredientes para satisfacer tu exigente paladar.</p>
        <p><a class="btn btn-danger" href="http://go.microsoft.com/fwlink/?LinkId=301866">0800 12585   &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recomendaciones</h2>
        <p>Nuestra filosofia evocada al cliente se sustenta en que nos ayudes a saber tus preferencias y permitirnos sorprenderte.                                                    .</p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301867">Buzon &raquo;</a></p>
    </div>
</div>